<h1>Home</h1>
<p> Check out the All-Star Baseball Team directory using the link below, which contains a list of players. Information associates with players includes Name, position, an opinionated overall rating, and whether or not the player plays outfield.</p>
<%= link_to 'Player Directory', players_path %>
